* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

img {
    width: 100%;
}

header {
    position: absolute;
    width: 100%;
    z-index: 11;
    padding: 15px 25px;
}

header img {
    width: 35px;
}

main {
    background-color: #138275;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    position: relative;
    background-image: url(images/IMG_2075.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 87% 28%;
}

main h1 {
    color: white;
    font-size: 50px;
    z-index: 111;
}

@media (main-width: 900px) {
    main h1 {
        color: #0a1c12;
    }
}

main a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    background-color: #138275;
    padding: 16px 40px;
    border: 1px solid #138275;
    border-radius: 8px;
    transition: .6s ease-in;
}

main a:hover {
    color: #138275;
    background-color: white;
}

section.contact {
    padding: 50px;
    text-align: center;
}

section h2 {
    color: #138275;
    font-size: 30px;
}

section a {
    text-decoration: none;
    color: #138275;
    font-size: 20px;
    transition: .6s ease-in;
}

section .location, section .image {
    width: 45%;
}

section.contact img {
    border-radius: 10px;
}

section a:hover {
    color: black;
}

section .contanier {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 25px;
    padding-block: 30px;
}

footer {
    background: #138275;
    color: white;
    text-align: center;
    padding-top: 35px;
    padding-bottom: 25px;
}

footer p {
    font-size: 30px;
}

.gallery-image {
    padding-top: 30px;
    padding-bottom: 10px;
    padding-inline: 70px;
    text-align: center;
}

.gallery-image h2 {
    margin-block: 30px;
}

.gallery-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
}

.gallery {
    display: flex;
    gap: 10px;
    width: max-content;
    animation: circularScroll 10s linear infinite forwards;
}

.gallery img {
    width: 300px;
    height: 350px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

@keyframes circularScroll {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); }
}

.gallery-wrapper {
    display: flex;
    width: max-content;
}